# Virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# IDE / Editor folders
.vscode/
.idea/

# Bytecode / build files
*.pyo
*.pyd

# OS files
.DS_Store
Thumbs.db

# Alembic cache
alembic/__pycache__/
